<% provide(:title, "Home") %>
    <h1>Blocitoff</h1>
    <p>
      The home page for my blocitoff project created as a project for the
      <a href="http://www.bloc.io"> BLOC</a> Rails Web Development course.
    </p>