  <div class="center jumbotron">
    <h1>Blocitoff</h1>
      <h2>
        The home page for my blocitoff project created for the
        <a href="http://www.bloc.io"> BLOC</a> Rails Web Development course.
      </h2>

      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
      or
      <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  </div>
