<footer class="footer">
  <small>
  </small>
  <nav>
    <ul>
     <li>This project was created for the <a href="http://www.bloc.io"> BLOC</a> Rails Web Development course.</li>
    </ul>
  </nav>
</footer>